@import '@/styles/variables';

.layout {
  position: relative;
  height: calc(100%);
  background-color: transparent;
}

:global(.ant-layout-header) {
  padding: 0px 20px;

  @media (max-width: $mobile) {
    padding: 0px;
  }
}

.header {
  height: $header_height;
  background-color: transparent;

  .nav__logo {
    margin-right: 20px;

    @media (max-width: $mobile) {
      margin-right: 10px;
    }

    .logo {
      height: 40px;
    }
  }

  .nav__item {
    display: block;
  }

  .nav__link {
    display: block;
    border: 1px solid black;
    padding: 7px 20px;
    line-height: normal;
    font-size: 14px;
    color: black;
    border-radius: 50px;

    &:hover {
      color: gray;
    }
  }
}

.drawer {
  .nav__item {
    line-height: 40px;
  }

  .nav__link {
    color: black;
  }
}

.content {
  min-height: calc(100% - $header_height - $footer_height);
  overflow-y: auto;
  padding: 20px 20px 0 20px;
  background-color: transparent;

  @media (max-width: $mobile) {
    padding: 20px 0px 0px 0px;
  }
}

.footer {
  background-color: transparent;
  height: $footer_height;
  text-align: center;

  // @media (min-width: $mobile) {
  //   position: fixed;
  //   bottom: 0;
  //   left: 0;
  //   right: 0;
  // }
}
